<div class="row" style="padding: 10px;">
    <button mat-flat-button color="warn" (click)="changeSize(-1)">-</button>
    Size: {{ getSize() }}
    <button mat-flat-button color="primary" (click)="changeSize(1)">+</button>
</div>