<div class="row" style="padding: 10px;">
    <h4 style="display: inline;">CA</h4> {{ getArmorClass() }}
</div>
<br/>

<div style="padding: 10px;">
    <mat-slide-toggle [(ngModel)]="isAgainstTouch">Contatto</mat-slide-toggle>
    <mat-slide-toggle (change)="$event.checked ? untypedAcBonus = untypedAcBonus + 1 : untypedAcBonus = untypedAcBonus - 1">Fortuna Protettiva</mat-slide-toggle>
</div>

<!-- TEMPORARY - TOREMOVE -->
<div class="row" style="padding: 10px;">
    <button mat-flat-button color="warn" (click)="temporaryAcMod = temporaryAcMod - 1">-</button>
    Agg. Man. CA: {{ temporaryAcMod }}
    <button mat-flat-button color="accent" (click)="temporaryAcMod = temporaryAcMod + 1">+</button>
</div>
<!-- *** -->