<h1>Biruta</h1>

<app-melee-attacks-shared
    [dataSource]="dataSource"
    [currentFlankingBonus]="currentFlankingBonus"
    [strengthMod]="strengthMod"
    [isHasted]="isHasted"
>
</app-melee-attacks-shared>

<div style="padding: 10px;">
    <mat-slide-toggle (change)="toggleStrengthBonus($event, 2)">Focus Animale</mat-slide-toggle>
    <mat-slide-toggle [(ngModel)]="powerAttack">Power Attack</mat-slide-toggle>
    <mat-slide-toggle (change)="toggleLeadBlades($event)">Lead Blades</mat-slide-toggle>
    <mat-slide-toggle (change)="toggleElementalBody($event)">Corpo Elementale III</mat-slide-toggle>
</div>

<div style="padding: 10px;">
    <div class="row">
        <label id="flanking">Fiancheggiamento</label>
        <mat-radio-group [(ngModel)]="currentFlankingBonus">
            @for (flankingOption of flankingOptions; track flankingOptions) {
                <mat-radio-button class="example-radio-button" [value]="flankingOption.bonus">{{flankingOption.label}}</mat-radio-button>
            }
        </mat-radio-group>
    </div>

    
</div>

<!-- DEFENSE -->
<app-armor-class-shared
    [armorBonus]="armorBonus"
    [currentSize]="currentSize"
    [dexMod]="dexMod"
    [isAgainstTouch]="isAgainstTouch"
    [shieldBonus]="shieldBonus"
    [untypedAcBonus]="untypedAcBonus"
    [isHasted]="isHasted"
    [dodgeBonus]="0"
>
</app-armor-class-shared>

<div style="padding: 10px;">
    <mat-slide-toggle (change)="$event.checked ? shieldBonus = shieldBonus + 1 : shieldBonus = shieldBonus - 1">Scudo di Pietra</mat-slide-toggle>
    <mat-slide-toggle (change)="$event.checked ? armorBonus = armorBonus + 5 : armorBonus = armorBonus - 5">Ironskin</mat-slide-toggle>
    <mat-slide-toggle (change)="$event.checked ? dexMod = dexMod + 2 : dexMod = dexMod - 2">F. Animale Dex</mat-slide-toggle>
</div>
<!-- *** -->

<app-size-change-shared
    [meleeAttacks]="dataSource"
    [rangedAttacks]="[]"
    [currentSize]="currentSize"
    [strengthMod]="strengthMod"
    [dexMod]="dexMod"
>
</app-size-change-shared>