<h1>BIRUTA</h1>

<app-all-weapon-attacks-shared
    [meleeAttacks]="meleeAttacks"
    [rangedAttacks]="rangedAttacks"
    [characterLevel]="characterLevel"    
    [element]="element"
    [maxDeckPoints]="maxDeckPoints"
    [baseAttBonus]="baseAttBonus"
    [dexMod]="dexMod"
    [currentSize]="currentSize"
    [armorBonus]="armorBonus"
    [shieldBonus]="shieldBonus"
    [untypedAcBonus]="untypedAcBonus"
    [dodgeBonus]="dodgeBonus"
    [strengthMod]="strengthMod"
    [flankingBonus]="flankingBonus"
    [isFlanking]="isFlanking"
    />

<!-- TOGGLES -->
<div style="padding: 10px;">
    <mat-slide-toggle (change)="toggleStrengthBonus($event, 2)">Focus Animale</mat-slide-toggle>
    <mat-slide-toggle [(ngModel)]="powerAttack">Power Attack</mat-slide-toggle>
    <mat-slide-toggle (change)="toggleLeadBlades($event)">Lead Blades</mat-slide-toggle>
    <mat-slide-toggle (change)="toggleElementalBody($event)">Corpo Elementale III</mat-slide-toggle>
    <mat-slide-toggle (change)="$event.checked ? shieldBonus = shieldBonus + 1 : shieldBonus = shieldBonus - 1">Scudo di Pietra</mat-slide-toggle>
    <mat-slide-toggle (change)="$event.checked ? armorBonus = armorBonus + 5 : armorBonus = armorBonus - 5">Ironskin</mat-slide-toggle>
    <mat-slide-toggle (change)="$event.checked ? dexMod = dexMod + 2 : dexMod = dexMod - 2">F. Animale Dex</mat-slide-toggle>
</div>
<!-- *** -->

<!-- FLANKING -->
<div class="row" style="padding: 10px;">
    <label id="flanking">Fiancheggiamento</label>
    <mat-radio-group [(ngModel)]="flankingBonus">
        @for (flankingOption of flankingOptions; track flankingOptions) {
            <mat-radio-button class="example-radio-button" [value]="flankingOption.bonus">{{flankingOption.label}}</mat-radio-button>
        }
    </mat-radio-group>
</div>
<!-- *** -->