<app-melee-attacks-shared
    [dataSource]="meleeAttacks"
    [currentFlankingBonus]="flankingBonus"
    [strengthMod]="strengthMod"
    [isHasted]="isHasted"
    [attackIterations]="attackIterations"
    [currentAttackIteration]="currentAttackIteration"
    [temporaryAttMod]="temporaryAttMod"
    [temporaryDmgMod]="temporaryDmgMod"
    [isFlanking]="isFlanking"
/>

<app-ranged-attacks-shared
    [dataSource]="rangedAttacks"
    [dexMod]="dexMod"
    [isHasted]="isHasted"
    [deadlyAimActive]="deadlyAimActive"
    [withinNineMeters]="withinNineMeters"
    [element]="element"
    [maxDeckPoints]="maxDeckPoints"
    [characterLevel]="characterLevel"
    [baseAttBonus]="baseAttBonus"
    [attackIterations]="attackIterations"
    [currentAttackIteration]="currentAttackIteration"
    [temporaryAttMod]="temporaryAttMod"
    [temporaryDmgMod]="temporaryDmgMod"
/>

<!-- BUTTONS -->
<div style="padding: 10px;">
    <div class="row">
        <label id="multiple-attacks">Attacco</label>
        <mat-radio-group [(ngModel)]="currentAttackIteration">
            @for (attack of attackIterations; track attack) {
                <mat-radio-button class="example-radio-button" [value]="attack">{{attack.AttackNumber}}</mat-radio-button>
            }
        </mat-radio-group>
    </div>

    <mat-slide-toggle (change)="toggleBonus($event, 1, 1)">Inspire Courage</mat-slide-toggle>
    <mat-slide-toggle (change)="toggleHaste($event)">Velocità</mat-slide-toggle>
    <mat-slide-toggle [(ngModel)]="isFlanking">Fiancheggiamento</mat-slide-toggle>
</div>
<!-- *** -->

<!-- RANGE INCREMENTS -->
<div class="row" style="padding: 10px;">
    <button mat-flat-button color="warn" (click)="changeRangeIncrements(-1)">-</button>
    Incrementi di Gittata: {{ rangeIncrements }}
    <button mat-flat-button color="primary" (click)="changeRangeIncrements(1)">+</button>
</div>
<!--  -->

<!-- SIZE CHANGE -->
<app-size-change-shared
    [meleeAttacks]="meleeAttacks"
    [rangedAttacks]="rangedAttacks"
    [currentSize]="currentSize"
    [strengthMod]="strengthMod"
    [dexMod]="dexMod"
>
</app-size-change-shared>
<!-- *** -->

<!-- TEMPORARY - TOREMOVE -->
<div class="row" style="padding: 10px;">
    <button mat-flat-button color="warn" (click)="temporaryAttMod = temporaryAttMod - 1">-</button>
    Agg. Man. Attacco: {{ temporaryAttMod }}
    <button mat-flat-button color="accent" (click)="temporaryAttMod = temporaryAttMod + 1">+</button>

    <button mat-flat-button color="warn" (click)="temporaryDmgMod = temporaryDmgMod - 1">-</button>
    Agg. Man. Danni: {{ temporaryDmgMod }}
    <button mat-flat-button color="accent" (click)="temporaryDmgMod = temporaryDmgMod + 1">+</button>
</div>
<!-- *** -->

<!-- DEFENSE -->
<app-armor-class-shared
    [armorBonus]="armorBonus"
    [currentSize]="currentSize"
    [dexMod]="dexMod"
    [isAgainstTouch]="isAgainstTouch"
    [shieldBonus]="shieldBonus"
    [untypedAcBonus]="untypedAcBonus"
    [isHasted]="isHasted"
    [dodgeBonus]="dodgeBonus"
/>
<!-- *** -->