<table mat-table [dataSource]="dataSource" style="padding: 10px;">
    <ng-container matColumnDef="Arma">
        <th mat-header-cell *matHeaderCellDef> Arma </th>
        <td mat-cell *matCellDef="let attack"> {{attack.Name}} </td>
    </ng-container>
    <ng-container matColumnDef="Attacco">
        <th mat-header-cell *matHeaderCellDef> Attacco </th>
        <td mat-cell *matCellDef="let attack"> {{calcAttackBonus(attack.AttackBonus)}} </td>
    </ng-container>
    <ng-container matColumnDef="Danni">
        <th mat-header-cell *matHeaderCellDef> Danni </th>
        <td mat-cell *matCellDef="let attack"> {{ attack.DamageDice }} </td>
    </ng-container>
    <ng-container matColumnDef="Bonus">
        <th mat-header-cell *matHeaderCellDef> Bonus Dmg </th>
        <td mat-cell *matCellDef="let attack"> {{calcDamageBonus(attack.DamageBonus)}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let attackRow; columns: displayedColumns;"></tr>
</table>