<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark px-3">
    <div class="navbar-nav">
        <!-- <a class="nav-item nav-link" routerLink="/">Home</a> -->
        <button mat-flat-button color="biruta" class="nav-item nav-link" routerLink="/sheets/biruta">Biruta</button>
        <button mat-flat-button color="kether" class="nav-item nav-link" routerLink="/sheets/kether">Kether</button>
    </div>
</nav>

<!-- main app container -->
<div class="container">
    <router-outlet></router-outlet>
</div>
