<h1>Joe Combat</h1>
<table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="Arma">
        <th mat-header-cell *matHeaderCellDef> Arma </th>
        <td mat-cell *matCellDef="let attack"> {{attack.Name}} </td>
    </ng-container>
    <ng-container matColumnDef="Attacco">
        <th mat-header-cell *matHeaderCellDef> Attacco </th>
        <td mat-cell *matCellDef="let attack"> {{calcAttackBonus(attack.AttackBonus)}} </td>
    </ng-container>
    <ng-container matColumnDef="Danni">
        <th mat-header-cell *matHeaderCellDef> Danni </th>
        <td mat-cell *matCellDef="let attack"> {{attack.DamageDice}} </td>
    </ng-container>
    <ng-container matColumnDef="Bonus">
        <th mat-header-cell *matHeaderCellDef> Bonus Dmg </th>
        <td mat-cell *matCellDef="let attack"> {{calcDamageBonus(attack.DamageBonus, attack.DmgMult)}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let attackRow; columns: displayedColumns;"></tr>
</table>

<mat-slide-toggle (change)="toggleBonus($event, 1, 1)">Inspire Courage</mat-slide-toggle>
<mat-slide-toggle (change)="toggleStrengthBonus($event, 2)">Focus Animale</mat-slide-toggle>
<mat-slide-toggle (change)="togglePowerAttack($event)">Power Attack</mat-slide-toggle>
<mat-slide-toggle (change)="toggleLeadBlades($event)">Lead Blades</mat-slide-toggle>
<mat-slide-toggle (change)="toggleElementalBody($event)">Corpo Elementale III</mat-slide-toggle>
<mat-slide-toggle (change)="toggleHaste($event)">Velocità</mat-slide-toggle>

<div class="row">
    <label id="flanking">Fiancheggiamento</label>
    <mat-radio-group [(ngModel)]="currentFlankingBonus">
        @for (flankingOption of flankingOptions; track flankingOptions) {
            <mat-radio-button class="example-radio-button" [value]="flankingOption.bonus">{{flankingOption.label}}</mat-radio-button>
        }
    </mat-radio-group>
</div>

<div class="row">
    <label id="flanking">Attacco</label>
    <mat-radio-group [(ngModel)]="currentAttackIteration">
        @for (attack of attackIterations; track attack) {
            <mat-radio-button class="example-radio-button" [value]="attack">{{attack.AttackNumber}}</mat-radio-button>
        }
    </mat-radio-group>
</div>

<div class="row">
    <button mat-flat-button color="warn" (click)="changeSize(-1)">-</button>
    Size: {{ getSize() }}
    <button mat-flat-button color="primary" (click)="changeSize(1)">+</button>
</div>