<h1>KETHER</h1>

<app-all-weapon-attacks-shared
    [meleeAttacks]="meleeAttacks"
    [rangedAttacks]="rangedAttacks"
    [characterLevel]="characterLevel"    
    [element]="element"
    [maxDeckPoints]="maxDeckPoints"
    [baseAttBonus]="baseAttBonus"
    [dexMod]="dexMod"
    [currentSize]="currentSize"
    [armorBonus]="armorBonus"
    [shieldBonus]="shieldBonus"
    [untypedAcBonus]="untypedAcBonus"
    [dodgeBonus]="dodgeBonus"
    [strengthMod]="strengthMod"
    [deadlyAimActive]="deadlyAimActive"
    />

<!-- TOGGLES -->
<div style="padding: 10px;">
    <mat-slide-toggle (change)="toggleFireHands($event)">Braccia di Brace</mat-slide-toggle>
    <mat-slide-toggle  [(ngModel)]="withinNineMeters">Entro 9m</mat-slide-toggle>
    <mat-slide-toggle [(ngModel)]="deadlyAimActive">Mira Letale</mat-slide-toggle>
    <mat-slide-toggle (change)="toggleElementalBody($event)">Corpo Elementale III</mat-slide-toggle>
    <mat-slide-toggle (change)="untypedAcBonus = $event.checked ? untypedAcBonus + 4 : untypedAcBonus - 4 ">Manifestazione Legata</mat-slide-toggle>
</div>
<!-- *** -->